$blueish: #44FFFF;
$nflblue: #00316b;
$nflred: #d20000;


.league-posts {
  height: 600px;
  text-align: center;

    .post-wrapper {
      margin: 25px 0px 10px 0px;
      min-height: 1500px;
      padding-bottom: 30px;

    .post-text {
      margin-top: 0px;
      padding: 20px;
      background-color: white;
      padding-bottom: 52px;

      textarea {
        display: inline-block;
        width: 100%;
        padding: 10px;
        background-color: white;
        margin-bottom: 6px;
      }

      button {
        background-color: $nflblue;
        padding: 6px 10px;
        font-size: 12px;
      }
    }

    .post-list-wrapper {
      margin-top: 20px;

      ul {
        list-style: none;
        padding: 0px;

        li {
          text-align: left;
          padding: 20px;
          margin-bottom: 20px;
          background-color: white;

          h4 {
            margin: 0px;
            padding-bottom: 4px;
          }

          h6 {
            margin: 0px;
            color: #999;
            font-weight: lighter;
            padding-bottom: 12px;
          }

          p {
            margin: 0px;
            border-bottom: 1px solid #ccc;
            padding-bottom: 8px;
          }

          .post-link-wrapper {
            margin: 0px;
            text-align: left;
            background-color: white;
            padding-top: 8px;

            .comment-link {
              display: block;
              padding-right: 10px;
              color: #666;
              width: 140px;
            }

            .comment-link:hover {
              cursor: pointer;
            }

            .delete-link {
              color: #999;
              float: right;
              margin-top: -24px;
              margin-right: 10px;
              font-size: 24px;

              .dropdown-menu {
                text-align: center;
              }
            }

            .delete-link:hover {
              cursor: pointer;
            }

          }
        }
      }
    }
  }
}
