@import "../../../assets/variables.scss";

$blueish: #44FFFF;
$nflblue: #00316b;
$nflred: #d20000;


.league-posts {
  height: 600px;
  text-align: center;

  h2 {
    margin-bottom: 10px;
  }

  .post-wrapper {
    margin: 0px 0px 10px 0px;
    min-height: 1500px;
    padding-bottom: 30px;

    .post {
      border: 1px solid;
      border-color: #e5e6e9 #dfe0e4 #d0d1d5;
      border-radius: 3px;
    }

    .post-text {
      margin-top: 0px;
      padding: 10px 10px 10px 10px;
      border-bottom: 1px solid $nfl-white2;
      background-color: #fff;

      textarea {
        padding: 10px 10px 40px 10px;
        display: inline-block;
        width: 100%;
        background-color: white;
        margin-bottom: 6px;
        resize: none;
        border: 1px solid $nfl-white2;
        outline: none;
      }
      ::-webkit-input-placeholder {
        color: #999;
      }
      ::-moz-placeholder {
        color: #999;
      }
      :-ms-input-placeholder {
        color: #999;
      }
      :-moz-placeholder {
        color: #999;
      }
    }

    .post-button {
      background-color: #fff;
      padding: 10px;
      text-align: right;
      button {
        display: inline-block;
        background-color: $nflblue;
        padding: 6px 20px;
        font-size: 12px;
      }
    }

    .post-list-wrapper {
      margin-top: 20px;

      ul {
        list-style: none;
        padding: 0px;

        li {
          text-align: left;
          padding: 20px;
          margin-bottom: 20px;
          background-color: white;
          border: 1px solid;
          border-color: #e5e6e9 #dfe0e4 #d0d1d5;
          border-radius: 3px;

          h4 {
            margin: 0px;
            padding-bottom: 4px;
          }

          h6 {
            margin: 0px;
            color: #999;
            font-weight: lighter;
            padding-bottom: 12px;
          }

          p {
            margin: 0px;
            border-bottom: 1px solid #ccc;
            padding-bottom: 8px;
          }

          .post-link-wrapper {
            margin: 0px;
            text-align: left;
            background-color: white;
            padding-top: 8px;

            .comment-link {
              display: block;
              padding-right: 10px;
              color: #666;
              width: 140px;
            }

            .comment-link:hover {
              cursor: pointer;
            }

            .delete-link {
              color: #999;
              float: right;
              margin-top: -24px;
              margin-right: 10px;
              font-size: 24px;

              .dropdown-menu {
                text-align: center;
              }
            }

            .delete-link:hover {
              cursor: pointer;
            }

          }
        }
      }
    }
  }
}
