@import "../../../assets/variables.scss";

$blueish: #44FFFF;
$nflblue: #00316b;
$nflred: #d20000;

h4 {
  margin-top: 25px;
  color: #333;
  margin-bottom: 20px;
}

.league-info-list {
  padding-left: 0;
  margin-top: 10px;
  background-color: $nfl-red2;
  list-style: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0 1px 3px 0;

  .league-info-list-item {
    font-size: 14px;
    padding: 14px;
    color: $nfl-black1;
    background-color: #f0f0f0;
    border-bottom: 1px solid $nfl-white2;
    &:hover {
      background-color: #fcfcfc;
      color: $nfl-black1;
      cursor: pointer;
    }
    .item-flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .league-info-list-tab {
    font-size: 14px;
    padding: 14px;
    color: $nfl-black1;
    background-color: #f0f0f0;
    border-bottom: 1px solid $nfl-white2;
    margin-left: 6px;
    &:hover {
      background-color: #fcfcfc;
      color: $nfl-black1;
      cursor: pointer;
    }
  }
  .active {
    background-color: #fcfcfc;
    font-weight: bold;
  }

  a {
    margin: 0px;
    display:block;
    padding-bottom: 16px;
    color: #004599;
    //padding-left: 20px;
  }

  .related-links {
    margin: 0;
    padding-bottom: 0px;
  }

  a:hover {
    text-decoration: none;
    color: #005ccc;
  }

  h4 {
    color: #333;
    margin: 0px;
    padding-bottom: 4px;
  }

  p {
    color: #888;
    margin: 0px;
    padding-bottom: 16px;
    // padding-left: 20px;
  }
}
