$blueish: #44FFFF;
$nflblue: #00316b;
$nflred: #d20000;

h3 {
  margin-top: 25px;
  color: #333;
}

.league-info-details {
  background-color: white;
  padding: 20px;

  a {
    margin: 0px;
    display:block;
    padding-bottom: 16px;
    color: #004599;
    //padding-left: 20px;
  }

  .related-links {
    margin: 0;
    padding-bottom: 0px;
  }

  a:hover {
    text-decoration: none;
    color: #005ccc;
  }

  h4 {
    color: #333;
    margin: 0px;
    padding-bottom: 4px;
  }

  p {
    color: #888;
    margin: 0px;
    padding-bottom: 16px;
    // padding-left: 20px;
  }
}
