@import "../../../assets/variables.scss";


$blueish: #44FFFF;
$nflblue: #00316b;
$nflred: #d20000;

.media-feeds {

  h4 {
    margin-top: 25px;
    color: #333;
  }

  img {
    border-left: 1px solid $nfl-white2;
    border-right: 1px solid $nfl-white2;
  }

  .media-rss {

    ul {
      padding-left: 0;
      border-radius: 0px;
      list-style: none;
      box-shadow: rgba(0, 0, 0, 0.05) 0 1px 3px 0;

      .media-list-item {
        border-radius: 0px;
        border-bottom: 1px solid $nfl-white2;
        padding: 20px 14px;
        &:hover {
          cursor: pointer;
          background-color: #f0f0f0;
          h5 {
            background-color: #f0f0f0;
          }
          h6 {
            background-color: #f0f0f0;
          }
        }
        &:focus {
          background-color: #ffffff;
        }
      }

      h5 {
        margin: 0px;
        background-color: white;
        color: $nflred;
        font-family: 'Oswald', sans-serif;
        padding-bottom: 14px;
      }

      h6 {
        margin: 0px;
        background-color: white;
        color: #666;
        line-height: 16px;
      }

      a {
        color: $nflblue;
        display: inline-block;
      }

      p {
        margin-left: 18px;
      }
    }
  }
}
