@import "../../../assets/variables.scss";


$blueish: #44FFFF;
$nflblue: #00316b;
$nflred: #d20000;

.media-feeds {

  h4 {
    margin-top: 25px;
  }

  .rss-feed-list {
    position: relative;
    margin-top: 10px;
    margin-bottom: -2px;
    padding-left: 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0 1px 3px 0;

    .rss-feed-list-item {
      list-style: none;
      font-size: 14px;
      padding: 14px;
      color: $nfl-black1;
      background-color: #fff;
      border-bottom: 1px solid $nfl-white2;
      &:hover {
        background-color: #fff;
        color: $nfl-black1;
        cursor: pointer;
      }
      &:focus {
        text-decoration: none;
      }
    }

    .item-flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .rss-feed-dropdown {
      position: absolute;
      top: 49px;
      z-index: 100;
      width: 100%;
      background-color: $nfl-red2;
    }

    .rss-feed-list-item-tab {
      margin-left: 6px;
      list-style: none;
      font-size: 14px;
      padding: 14px;
      color: $nfl-black1;
      background-color: #f6f7f9;
      border-bottom: 1px solid $nfl-white2;
      &:hover {
        background-color: #fff;
        color: $nfl-black1;
        cursor: pointer;
      }
      &:focus {
        text-decoration: none;
      }
    }
  }

  img {
    border-left: 1px solid $nfl-white2;
    border-right: 1px solid $nfl-white2;
  }

  .media-rss {

    ul {
      padding-left: 0;
      border-radius: 0px;
      list-style: none;
      box-shadow: rgba(0, 0, 0, 0.05) 0 1px 3px 0;

      .media-list-item {
        border-radius: 0px;
        border-bottom: 1px solid $nfl-white2;
        padding: 20px 14px;
        &:hover {
          cursor: pointer;
          background-color: #f0f0f0;
          h5 {
            background-color: #f0f0f0;
          }
          h6 {
            background-color: #f0f0f0;
          }
        }
        &:focus {
          background-color: #ffffff;
        }
      }

      h5 {
        margin: 0px;
        background-color: white;
        color: $nflred;
        font-family: 'Oswald', sans-serif;
        padding-bottom: 14px;
      }

      h6 {
        margin: 0px;
        background-color: white;
        color: #999;
        line-height: 16px;
        padding-bottom: 14px;
      }

      p {
        color: #333;
        font-size: 12px;
      }

      a {
        color: $nflblue;
        display: inline-block;
      }
    }
  }
}
