@import "../../assets/variables.scss";

$blueish: #44FFFF;
$nflblue: #00316b;
$nflred: #d20000;

.container {
  background-color: $nfl-white2;
  max-width: 1200px;
  padding-left: 2em;
  padding-right: 2em;
}

.league-info {
  margin-top: 25px;
}
