.navbar-buttons {
  color:#f0f0f0;
  margin-right: -20px;
}

.navbar-register {
  margin-top: 20px;
  margin-right: 5px;
}

.navbar-login {
  margin-top: 20px;
}

.navbar-logout {
  margin-top: 20px;
}
