$blueish: #44FFFF;
$nflblue: #00316b;
$nflred: #d20000;

.hero {
  margin-top: -77px;
  background-size: cover;
  background-position: bottom center;
  box-shadow: 0px 100vh rgba(0, 0, 0, 0.3) inset;
  .title {
    margin: 0;
    text-align: center;
    padding-top: 160px;
    padding-bottom: 50px;
    color: white;
    letter-spacing: 1.6px;
  }
  .subtitle {
    margin: 0;
    text-align: center;
    padding-bottom: 180px;
    color: white;
  }
}

.league-nav {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: white;
    opacity: 0.8;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
  }
  .active {
    opacity: 1;
    margin-top: -12px;
    border-bottom: 6px solid $nflred;
  }
}