
// NFL Colors Primary
$nfl-blue1: #003399;
$nfl-blue2: #0067B1;
$nfl-blue3: #007dc3;

$nfl-red1: #571d1f;
$nfl-red2: #8b0f04;
$nfl-red3: #ff0000;

// NFL Colors Secondary
$nfl-green1: #003300;
$nfl-green2: #006633;
$nfl-green3: #339933;

$nfl-black1: #000000;
$nfl-black2: #666666;
$nfl-black3: #999999;

$nfl-brown1: #663300;
$nfl-brown2: #993300;
$nfl-brown3: #cc6633;

$nfl-white1: #ffffff;
$nfl-white2: #cccccc;
$nfl-white3: #999999;